// utils.scss
.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.g-20{
    gap: 20px;
}

.g-10{
    gap: 10px;
}

.justify-content-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
} 

.w-100{
    width: 100%;
}


.position-absolute{
    position: absolute;
}